bin/
build/
built-data/
built-assets/
.generated/
.library/
.move/
release/
releases/

.vscode/*
!.vscode/*.code-snippets
.clangd
.cache/
compile_commands.json

# gitignored so that users can opt in/out by simply adding the files
LivePP
.LivePP

package_version.txt